@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
}

body {
	margin: 0;
	font-family: 'Courier Prime', monospace;
	font-size: 16px;
	background-color: #1c1b22;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
	background-color: #1c1b22;
}

.note.new {
	background-color: #fef68a;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; 
    
    background-color: #fef68a;
    border: 0;
    color: rgb(0, 0, 0);
	font-size: 16px;
    width: 99.5%;
    height: 100%;
    font-family: 'Courier Prime', monospace;
}

textarea:focus {
	outline: none;
	
}

.note {
	background-color: #fef68a;
	display: flex;
	padding: 3px;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #fef68a;
	gap: 3px;
}

.charCounter {
	color: rgb(0, 0, 0);

}

.delete-icon {
	cursor: pointer;
	margin: -2px 0 0 0;
}

.search {
	display: flex;
	align-items: center;
	background-color: #1c1b22;
	padding: 5px;
	margin: 0.9em 0;
}

.search input {
	border: none;
	background-color: rgb(255, 255, 255);
	width: 100%;
	font-family: 'Courier Prime', monospace;
}

.search input:focus {
	outline: none;
}

.search-icon {
	color: white;
	margin-right: 5px;
}

.notes-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}